{% extends 'base.html' %}

{% block title %}Добавить в трейд{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">

                <div class="alert alert-success alert-dismissable" style="display:none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Processing...
                </div>

                <form action="" method="post" id="insert_form" style="margin-top: 100px;">
                    {% csrf_token %}
                    <button type="submit" onclick="return false" class="btn btn-primary btn-lg btn-block" id="insert_start">
                        Добавить {{ inv_len }} вещей в трейд</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}